.details-page {
  background: #141250;
  min-height: 100vh;
  padding: 40px 20px;
  color: white;
  margin-top: 130px;
}

.back-btn {
  margin-bottom: 20px;
  padding: 8px 15px;
  background: #ff4d4d;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.details-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.image-section img {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
}

.action-buttons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.buy-now,
.add-cart {
  padding: 8px 14px;
  border: none;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
}

.buy-now {
  background: #25D366;
}

.add-cart {
  background: #ff4d4d;
}

.info-section h1 {
  font-size: 32px;
}

.info-section h2 {
  color: #00ffcc;
}

.desc {
  margin: 15px 0;
  opacity: 0.9;
}

.features {
  list-style: none;
  padding: 0;
}

.features li {
  margin: 8px 0;
  display: flex;
  gap: 8px;
}

.policies {
  margin-top: 20px;
  background: #1b3b6f;
  padding: 15px;
  border-radius: 10px;
}

.extra-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box {
  background: #1b3b6f;
  padding: 15px;
  border-radius: 10px;
}

@media (max-width: 992px) {
  .details-container {
    grid-template-columns: 1fr;
  }

  .action-buttons {
    flex-direction: column;
  }
}


