.details-page {
  background: #141250;
  min-height: 100vh;
  padding: 120px 20px;
  color: white;
  margin-top: 130px;
}

.back-btn {
  margin-bottom: 20px;
  padding: 8px 15px;
  background: #ff4d4d;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 20px;
}

.details-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.image-section img {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
}

.action-buttons {
  margin-top: 25px;
  display: flex;
  gap: 10px;
  
}

.buy-now,
.add-cart {
  padding: 8px 14px;
  border: none;
  color: white;
  border-radius: 25px;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 15px;
}

.buy-now {
  background: #25D366;
}

.add-cart {
  background: #ff4d4d;
}

.info-section h1 {
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 10px;
}

.info-section h2 {
  color: #00ffcc;
  margin-top: 15px;
}

.desc {
  margin: 15px 0;
  opacity: 0.9;
  letter-spacing: 1px;
  line-height: 1.6;
}

.features {
  list-style: none;
  padding: 0;
  margin-top: 30px;
}

.features li {
  margin: 8px 0;
  display: flex;
  gap: 8px;
}

.policies {
  margin-top: 20px;
  background: #1b3b6f;
  padding: 15px;
  border-radius: 10px;
}

.extra-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.box {
  background: #1b3b6f;
  padding: 15px;
  border-radius: 10px;
  max-width: 400px;
  margin-left: 50px;
  margin-top: 20px;
}

.box h3{
  letter-spacing: 1px;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
  color: red;
}

.box p{
  letter-spacing: 1px;
  font-size: 18px;
}

@media (max-width: 992px) {
  .details-container {
    grid-template-columns: 1fr;
  }

  .action-buttons {
    flex-direction: column;
  }
}


@media (max-width: 480px) {

  .buy-now,
  .add-cart {
    width: 85%;
    max-width: 270px;
    margin: 0 auto;
    display: block;
    font-size: 18px;
    font-weight: bold;
    padding: 12px 18px;
    
  }

}
