.admin-sidebar{
    width:240px;
    height:100vh;
    background:#0f172a;
    color:white;
    position:fixed;
    left:0;
    top:0;
    padding:20px;
    z-index:999;
}

.sidebar-logo{
    margin-bottom:40px;
    font-size:22px;
}

.sidebar-menu{
    list-style:none;
    padding:0;
}

.sidebar-menu li{
    padding:15px 10px;
    cursor:pointer;
    border-radius:8px;
    margin-bottom:10px;
}

.sidebar-menu li:hover{
    background:#1e293b;
}


/* MOBILE RESPONSIVE */

@media (max-width:768px){

    .admin-sidebar{
        width:100%;
        height:auto;
        position:relative;
        padding:15px;
    }

    .sidebar-logo{
        font-size:20px;
        margin-bottom:20px;
    }

    .sidebar-menu{
        display:flex;
        gap:10px;
        overflow-x:auto;
    }

    .sidebar-menu li{
        white-space:nowrap;
        margin-bottom:0;
        padding:10px 14px;
        background:#1e293b;
    }

}