.admin-sidebar{
    width:240px;
    height:100vh;
    background:#0f172a;
    color:white;
    position:fixed;
    left:0;
    top:0;
    padding:20px;
}

.sidebar-logo{
    margin-bottom:40px;
    font-size:22px;
}

.sidebar-menu{
    list-style:none;
    padding:0;
}

.sidebar-menu li{
    padding:15px 10px;
    cursor:pointer;
    border-radius:8px;
    margin-bottom:10px;
}

.sidebar-menu li:hover{
    background:#1e293b;
}