.admin-header-top{
    height:70px;
    background:white;
    margin-left:240px;
    padding:0 30px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    box-shadow:0 2px 10px rgba(0,0,0,0.08);
}

.admin-profile{
    font-weight:600;
}


/* MOBILE RESPONSIVE */

@media (max-width:768px){

    .admin-header-top{
        margin-left:0;
        padding:15px;
        height:auto;
        flex-direction:column;
        align-items:flex-start;
        gap:8px;
    }

    .admin-header-top h2{
        font-size:28px;
    }

}